.cards {
    border: 2px solid green;
    border-radius: 10px;
}

.img{
    border-radius: 10px 10px 0 0;
}


.cardy_body{
    padding: 10px;
}

.heart:hover{
    color: green;
}

.heart{
    top: 0px;
  right: 5px;
  font-size: 17px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(45, 176, 45);
}