.cards {
    border: 2px solid green;
    border-radius: 10px;
}

.img{
    border-radius: 10px 10px 0 0;
}


.cardy_body{
    padding: 10px;
}

.heart:hover{
    color: green;
}

.heart{
    position: absolute;
    top: 0px;
    left: 245px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(45, 176, 45);
}